<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homestyles.css">
    <title>Gamerz</title>
</head>

<body class="homepage">
    <header>
        <nav>
            <a class="settingsPref">
                <img src="/images/icons/settingIcon.svg" alt="Hamberger menu">
            </a>
        </nav>
        <img src="/images/icons/menuIcon.svg" alt="Hamberger menu">
    </header>
    <article>
        <div>
            <div>
                <img src="/images/gebouwen.jpg" alt="profile pic gamer">
                <div>
                    <h3>
                        <%= data[0] %>
                    </h3>
                    <p>5 minuten geleden actief</p>
                </div>
            </div>
            <img src="/images/icons/playstationIcon.svg">
        </div>
        <div>
            <ul>
                <li>Rotation queen</li>
                <li>Super saver</li>
            </ul>
        </div>
        <article>
            <h2>
                Total hours played:
            </h2>
            <p>
                25 days and 8 hours
            </p>
        </article>
        <ul>
            <li>Goals<p>5151</p>
            </li>
            <li>Assists<p>4845</p>
            </li>
            <li>Saves<p>4584</p>
            </li>
        </ul>
        <article>
            <h2>
                About me
            </h2>
            <p>
                Hi i am Lisa, 23 years old. I am currently looking for a good teammate in rocket league, cause all
                of my friends suck. I really want to get grand champ before the season ends!
            </p>
        </article>
        <section>
            <h2>
                My ranks
            </h2>
            <div>
                <article>
                    <article>
                        <img src="/images/icons/champ2.png">
                        <p>
                            CHAMP 2 <br>
                            DIV 1
                        </p>
                        <p>1320 MMR</p>
                    </article>
                    <div>
                        <h4>standard</h4>
                        <h5>3v3</h5>
                    </div>
                </article>
                <article>
                    <article>
                        <img src="/images/icons/champ2.png">
                        <p>
                            CHAMP 2 <br>
                            DIV 1
                        </p>
                        <p>1320 MMR</p>
                    </article>
                    <div>
                        <h4>doubles</h4>
                        <h5>2v2</h5>
                    </div>
                </article>
                <article>
                    <article>
                        <img src="/images/icons/champ2.png">
                        <p>
                            CHAMP 2 <br>
                            DIV 1
                        </p>
                        <p>1320 MMR</p>
                    </article>
                    <div>
                        <h4>duel</h4>
                        <h5>1v1</h5>
                    </div>
                </article>
            </div>
        </section>
    </article>
    <section>
        <button>
            <img src="/images/icons/cancel.svg" alt="no match">
        </button>
        <button>
            <img src="/images/icons/Correct.svg" alt="match">
        </button>
    </section>
    <script src="/js/index.js"></script>
</body>
</html>